#openEditor{
  position: fixed;
  top: 30px;
  right: 200px;
}

textarea.form-control{
  min-height: 250px;
}

footer{
  height: 100px;
  margin-top: 20px;
  border-top: 1px solid #aaa;
  padding: 15px;
  text-align: center;
}